#contactPage {
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactPageTitle {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5 rem;
}

.contactDesc {
    font-weight: 300;
    font-size: 1rem;
    max-width: 55rem;
    padding: 0 2rem;
    text-align: center;
}

.contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

.name, .email, .msg {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background:  rgb(40, 40, 40);
}

.submitBtn {
    background: white;
    border: none;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.link {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0.5rem 0.2rem;
} 

@media screen and (max-width:780px) {
    
}

@media screen and (max-width:480px) {
    .name, .email, .msg {
        width: 90vw;
    }
    
}